.section-6{
    padding: 63px 87px 20px;
}
.footer-content{
    margin-top: 13px;
}
.footer-header{
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 21px;
    margin-top: 15px;
}
.footer-list {
    text-decoration: none;
    list-style: none;
}
.footer-list li a{
    text-decoration: none;

}
.footer-list li a:hover{
    color: #ececec;
}
.socialmdimg{
    margin-right: 30px;
}
.footerlogo{
    margin-bottom: 33px;
}
.socialmdwrap{
    margin-bottom: 12px;
}
.footcol1{
    width: 70%;
}
.footcol1{
    color: #979797;
}
.footcol2{
    width: 15%;
}
.footcol2>h5{
    font-size: 18px;
    margin-bottom: 1rem;
}
.footcol2>p{
margin-bottom: 0.7rem;
color: #979797;
}