@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section1 {
  display: flex;
  padding: 0px 101px;
}
.section1_col1 > h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  color: #232c35;
  margin-bottom: 40px;
}
.section1_col1 > p {
  font-size: 20px;
  font-weight: 500;
  color: #4f4f4f;
  width: 78%;
  line-height: 22px;
}
.section1_col1 {
  padding: 223px 29px 0px 22px;
}
.section2 {
  background-color: #5c1a8d;
  justify-content: center;
  color: #fff;
  padding: 120px 0px 25px;
}
.section2_header {
  font-size: 36px;
  font-family: "Cera ProMedium";
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 34px;
  text-align: center;
}
.section2_para {
  font-family: "Cera ProMedium";
  font-size: 20px;
  line-height: 22px;
  color: #e0e0e0;
  text-align: center;
  width: 78%;
  margin: auto;
  font-weight: 100;
}
.section2col2wrap {
  padding-top: 114px;
}
._stepswrap {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
._stepswrap > span {
  margin-right: 37px;
}
._stepswrapcontent > h6 {
  font-size: 24px;
  font-weight: 700;
}
._stepswrapcontent > p {
  font-weight: 500;
  color: #f7f7f7;
  font-family: "Cera Prolight";
}

.section3_col1 {
  background-color: rgba(167, 146, 254, 0.07);
}
.section3_heading {
  position: absolute; /*top position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, 173%);
  font-size: 36px;
  font-weight: 700;
}
._choicewrap {
  padding: 204px 107px 130px 211px;
}
._choicewrap > span {
  display: inline-block;
  margin-bottom: 17px;
}
._choicewrap2 {
  padding: 204px 211px 4px 107px;
}
.choicescontent > h6 {
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 700;
}
.choicescontent > p {
  margin-bottom: 5rem;
}
.imgspan{
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
}
.sheildspan{
  background-color: #BB6BD9;
}
.control{
  background-color: #6FCF97;
}
.section4{
  background-color: #F2C94C;
  justify-content: center;
  padding: 81px 0px;
  text-align: center;
}
.sctn4form>h3{
     font-size: 36px;
     color: #232C35;
     font-weight: 700;
     line-height: 41px;
     margin-bottom: 13px;
}
.sctn4form>p{
  font-size: 20px;
  line-height: 22px;
  font-family: 'cera Prolight';
  font-weight: 600;
  margin-bottom: 3rem;
}
.sctn4form>div{
   display: flex;
}
.inptwrap{
  width: 70%;
}
.inpt{
  height: 50px;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 0;
  padding-left: 35px;
  margin-right: 6px;
  color: #fff;
  font-family: 'cera Prolight';
  
}
.inpt::placeholder{
  color: #fff;
}
.inpt:focus{
  outline: none;
  background-color: inherit;
}
.frmbtn{
  display: inline-block;
  font-family: 'cera Prolight';
  background-color: #2C3539;
  color: #fff;
  padding: 12px 50px;
  margin-left: 13px;
}
.section5{
  justify-content: space-between;
  font-family: 'cera Prolight';
  font-size: 11px;
  background-color: #DEB63D;
  padding: 30px 73px;
  color: #fff;
}
.policyspan{
  display: inline-block;
  margin-right: 18px;
}
.rightsdiv{
  width: 75%;
}
@media( max-width: 912px){
  .section1img{
    max-width: 100%;
    height: auto;
  }
  .section1{
    padding: 85px 0px;
  }
  .section1_col1 {
    padding: 0px 29px 0px 22px;
}
._choicewrap {
  padding: 204px 55px 84px 87px;
}
}
@media( max-width: 760px){
  .section1img{
    max-width: 100%;
    height: auto;
  }
  .section1{
    flex-direction: column;
    padding: 85px 0px;
  }
  .section1_col1 {
    padding: 66px 15px 0px 0px;
}
.section1_col1 > h4{
  font-size: 39px;
  line-height: 47px;
}
.section2 {
  padding: 75px 0px 25px;
}
.section2_header{
  font-size: 27px;
  line-height: 36px;
}
.section2col2wrap {
  padding-top: 38px;
  padding-bottom: 39px;
}
._choicewrap {
  padding: 77px 18px 0px 0px;
}
.section3_heading {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 173%);
  transform: translate(-50%, 27%);
  font-size: 25px;
  font-weight: 700;
}
.frmbtn {
  padding: 12px 23px;
}
.section5{
  flex-wrap: nowrap;
  padding: 30px 15px;
}
}