@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section1 {
  display: flex;
  padding: 0px 70px;
  background-color: #060809;
}
.section1_col1 > h4 {
  font-size: 46px;
  font-weight: 600;
  line-height: 53px;
  color: #232c35;
  margin-bottom: 28px;
  color: #fff;
}
.section1_col1 > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 43px;
  color: #fff;
}
.section1_col1 {
  width: 48%;
  padding: 163px 29px 0px 22px;
}
.section2 {
  justify-content: center;
  color: #fff;
  padding: 60px 0px 25px;
}
.section1_col2 {
  padding: 60px 0px;
}
.section2_header {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #4f4f4f;
}
.section2_para {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
}
.section2contentwrap {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 54px;
}
.section2content > img {
  margin-bottom: 27px;
}
.section2col2wrap {
  padding-top: 114px;
}
.section2content {
  width: 30%;
  border: 1px solid rgba(92, 178, 58, 0.27);
  border-radius: 8px;
  padding: 54px 40px 21px;
}
.choicescontent > h6 {
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 500;
  color: #0f0919cc;
}
.choicescontent > p {
  margin-bottom: 5rem;
  color: #555555;
}

._choicewrap {
  padding: 204px 107px 130px 211px;
}
._choicewrap > span {
  display: inline-block;
  margin-bottom: 17px;
}
._choicewrap2 {
  padding: 204px 211px 4px 107px;
}
.section3 {
  justify-content: space-between;
  padding: 60px 50px 25px 88px;
}
.billpaymentoptionswrap {
  padding-top: 109px;
}
.billpaymentoptionscontent {
  padding: 0px 0px 3px 20px;
  border-left: 5px solid #f1f1f1;
  cursor: pointer;
}
.billpaymentoptionsgap {
  padding: 5px 0px 5px 20px;
  border-left: 5px solid #f1f1f1;
}
.activepayment {
  border-left: 5px solid #5cb23a;
}
.billpaymentoptionscontent > h5 {
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
  color: #4f4f4f;
}
.billpaymentoptionscontent > p {
  color: #4f4f4f;
}
.section3col2 {
  width: 51%;
}
.imgspan {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-top: 9px;
  text-align: center;
}
.sheildspan {
  background-color: #bb6bd9;
}
.control {
  background-color: #6fcf97;
}
.section4 {
  padding: 60px 50px 25px 88px;
}
.section4col1 {
  width: 50%;
}
.section4col2 {
  width: 50%;
  padding: 250px 0px 0px 50px;
}
.section4col2 > h5 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 600;
  color: #4f4f4f;
}
.section4col2 > p {
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 3rem;
}
.secn4btn{
  padding: 15px 56px !important;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.sctn4form > h3 {
  font-size: 36px;
  color: #232c35;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 13px;
}
.sctn4form > p {
  font-size: 20px;
  line-height: 22px;
  font-family: "cera Prolight";
  font-weight: 600;
  margin-bottom: 12rem;
}
.section5{
  background: linear-gradient(166.19deg, rgba(92, 178, 58, 0.8) 30.42%, rgba(4, 128, 2, 0.8) 116.94%);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 0px 69px;
}
.section5col1{
  width: 24%;
  padding: 100px 0px 0px 65px;
}
.section5col1>h5{
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  line-height: 54px;
}
.section5col2{
  width: 76%;
}
.secn5btn{
  color: #25A75C !important;
  background: #fff !important;
  padding: 13px 58px !important;
  cursor: pointer;
}
.businesssection1 {
  display: flex;
  padding: 0px 70px;
  background-color: #060809;
  justify-content: center;
  background-image: url(../../images/circle.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}
.businesspgcol>h4{
  font-size: 44px;
  font-weight: 600;
  line-height: 53px;
  color: #232c35;
  margin-bottom: 28px;
  color: #fff;
}
.businesspgcol>p{
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  width: 83%;
  margin: auto;
}
.businesspgcol {
  text-align: center;
  width: 56%;
  padding: 118px 0px 191px;
}
.bsnessbtn{
  margin-top: 3rem;
}
.businscnimgwrap{
  text-align: center;
  margin-top: -138px;
  padding-bottom: 100px;
}
.businscnimgwrap>div{
  width: 80%;
  margin: auto;
}